html{
    height: 100%;
}
body {
	    overflow:hidden;
        height: 100%;
        background-image: url("grey.png")
	  }

#page
{
	position: absolute;
	top: 2%;
	left: 4%;
	height: 40px;
	/*width: 150px;*/
    padding: 0px 5px 0px 5px;
	background:rgba(0,0,0, 0.1);
	z-index: 2;
    vertical-align: center;
}
div
{
    text-align:center;
    border:0px solid silver;
   /* display: table-cell;*/
    vertical-align:middle;
    /*text-shadow: 0px 0px 6px rgba(180,180,180,0.7);*/
    font-weight:bold;
    font-family:Verdana, Geneva, sans-serif;
    font-size:30px;
}
.noteContainer
{

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    height: 100%;
    max-height: 100%;
    padding-top: 10%;
    top: 0;
    bottom: 0;
    /*min-width: 1920px;*/
}
.note
{
    margin: 10px;
    margin-right: 10px;
    background-color: #eeee22;
    float:left;
    
}